@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.ant-table-wrapper{
  margin: 15px 0;
}
.ant-input{
  margin: 10px 0;
}
.btn{
  margin-left: 20px;
}
.largeBtn{
  display:block;
  width: 100%;
  background-color: #E26C93;
  padding: 6px 10px;
  border:1px solid #E26C93;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.largeBtn:hover{
  background-color: #FD79A4;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
